torch
transformers
sentencepiece
h5py
nltk
einops
flash-attn
setuptools
datasets
hydra-core
lightning

# packages for dataset
ftfy
langdetect
numpy
pandas
boto3
tqdm
regex
bs4
newspaper3k
htmlmin
tldextract
lxml_html_clean
hkkang_utils
pyyaml